# Node.js dependencies
Frontend/node_modules/
Backend/node_modules/

# Logs
Frontend/logs/
Backend/logs/
*.log

# Environment files
frontend/.env
backend/.env

# Build output
Frontend/build/
Backend/dist/

# IDE specific settings
Frontend/.vscode/
Backend/.vscode/
.idea/

# MacOS specific files
.DS_Store

# NPM cache
.npm/
